<div ng-controller="MarkerPopup">
	<div>
		<b>Address</b>: {{place.Address}}&nbsp&nbsp&nbsp<b>Subtype</b>: {{place.subtype}}&nbsp&nbsp&nbsp<b>Code</b>:
		{{place.uCode}}
	</div>
	<hr>
	<div>
		<b>updated_at</b>: {{place.updated_at}}&nbsp&nbsp&nbsp<b>userId</b>: {{place.userID}}
	</div>

	<hr>
	<!-- <div>
		<button class="btn btn-sm btn-danger btn-round" ng-click="delete_location()"> <i class="material-icons">close</i></button>
		<button class="btn btn-sm btn-info btn-round" ng-click="update_place_modal()"> <i class="material-icons">edit</i></button>
		<button class="btn btn-sm btn-info btn-round" ng-click="retool_place_modal()"> <i class="material-icons">update</i></button>
	</div> -->
</div>